.container {
  width: 94%;
  grid-template-columns: 7rem auto 23rems;
}

aside .logo h2 {
  display: none;
}

aside .sidebar h3 {
  display: none;
}

aside .sidebar a {
  width: 5.6rem;
}

aside .sidebar a:last-child {
  position: relative;
  margin-top: 1.8rem;
}

main .insights {
  grid-template-columns: 1fr;
  gap: 0;
}

main .recent-orders {
  width: 94%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 2rem 0 0 8.8rem;
}

main .recent-orders table {
  width: 83vw;
}

main table thead tr th:last-child,
main table thead tr th:first-child {
  display: none;
}

main table tbody tr td:last-child,
main table tbody tr td:first-child {
  display: none;
}
